.footer {

  // .footer__content

  &__content {
    background-color: $background-footer-color;
    padding: 60px 0 80px;
  }

  // .footer__inner

  &__inner {
  }

  // .footer__info

  &__info {
  }

  // .footer__info-title

  &__info-title {
  }

  // .footer__info-text

  &__info-text {
  }

  // .footer__info-email

  &__info-email {
  }

  // .footer__form

  &__form {
  }

  // .footer__form-input

  &__form-input {
  }

  // .footer__form-btn

  &__form-btn {
  }

  // .footer__social

  &__social {
  }

  // .footer__soctial-item

  &__soctial-item {
  }

  // .footer__social-link

  &__social-link {
  }

  // .footer__menu

  &__menu {
  }

  // .footer__menu-list

  &__menu-list {
  }

  // .footer__menu-item

  &__menu-item {
  }

  // .footer__menu-link

  &__menu-link {
  }

  // .footer__copyright

  &__copyright {
    background-color: $title-text-color;
    color: $footer-form-copy-color;
    text-align: center;
    padding: 42px 0;
  }
}
.container {
}
