.gallery {

  @include adp-size("padding-bottom", 30, 1140, 90);

  // .gallery__filter-nav

  &__filter-nav {
    width: 100%;
    gap: 25px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    @media screen and (max-width: 768px){
      display: inline-flex;
      justify-content: start;
      flex-direction: column;
    }
  }

  // .gallery__filter-btn

  &__filter-btn {    
    cursor: pointer;
    @media screen and (max-width: 768px){
      
    }
  }

  // .gallery__items

  &__items {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    @media screen and (min-width: 1024px) {
      grid-template-columns:  repeat(auto-fit, minmax(270px, 1fr));
    }
    @media screen and (min-width: 1601px) {
      grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
    }
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 30px 35px;
  }

  // .gallery__item

  &__item {
    height: 100%;
  }
  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
    @media screen and (max-width: 1024px){
      grid-column: 1;
      grid-row: 1;
    }
  }
  &__item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  // .gallery__link

  &__link {
    height: 100%;
  }

  // .gallery__item-img--1

  &__item-img--1 {
  }

  // .gallery__item-img--2

  &__item-img--2 {
  }

  // .gallery__item-img--3

  &__item-img--3 {
  }

  // .gallery__item-img--4

  &__item-img--4 {
  }

  // .gallery__item-img--5

  &__item-img--5 {
  }
}
.container-fluid {
}
.active {
}
.mix {
}
.bedroom {
}
.chair {
}
.all {
}
.living {
}
.dining {
}
.office {
}
