html,
body {
	height: 100%;
}

body {
	font-family: $body-font;
	@extend %body-text_size;
	font-weight: 400;
	color: $content-text-color;
	overflow-x: hidden;
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	@extend %title-font-mons-700;
	@extend %responsive-text_size-main_title;
	text-align: center;
	position: relative;
}

.title-blog {
	font-family: $title-font;
	@extend %responsive-text_size-blog_title;
	color: $title-text-color;
	position: relative;
}

button.gallery__filter-btn {
	@extend %filter-btn;
}
button.gallery__filter-btn.mixitup-control-active{
	@extend %filter-btn-active;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	li {
		padding: 0 15px;
	}
	button {
		background-color: $title-text-color;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	li.slick-active {
		button {
			background-color: $filter-btn-back-active;
		}
	}
}




