.header {

  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition: $transition_main;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      height: 120px;
    }
  }

  // .header__btn

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
.container {
}
.menu {
  row-gap: 15px;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  // .menu__list

  &__list {
    display: flex;
  }

  // .menu__list-item

  &__list-item {
    padding-right: calc(45px - 10px);
    padding-left: calc(35px - 10px);
  }

  // .menu__list-link

  &__list-link {
    @extend %title-font;
  }
}
.logo {
  @extend %logo_size;
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
}
