// ================= HEADER ================= //
.header {

  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition: $transition_main;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      height: 120px;
    }
    
  }

  // .header__btn

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.menu {
  row-gap: 15px;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  // .menu__list

  &__list {
    display: flex;
  }

  // .menu__list-item

  &__list-item {
    padding-right: calc(45px - 10px);
    padding-left: calc(35px - 10px);
  }

  // .menu__list-link

  &__list-link {
    @extend %title-font-mons-700;
  }

  // .header__rightside-menu

  &__rightside-menu {
  }
}

// ================= LOGO ================= //
.logo {
  @extend %logo_size;
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
}

// ================= RIGHTSIDE MENU ================= //
.menu-rightside { margin-bottom: 15px; }

@media screen and (max-width: 768px) {
  .menu-rightside {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    ul > li {
      padding-right: 0;
      padding-left: 10px;
    }
  }
}

.rightside-menu {
  padding: clamp(15px, calc(50 / 1140 * 100vw), 50px);
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  overflow-y: scroll;
  bottom: 0;
  width: 100%;
  height: 100%;
  width: clamp(320px, calc(694 / 1140 * 100vw), 694px);
  background-color: #fff;
  box-shadow: -1px 0 12px 0px $footer-form-placeholder;
  z-index: 100;
  transition: $transition_main;

  &.rightside-menu--close {
    transform: translateX(200%);
  }
  // .rightside-menu__close

  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 60px;
  }

  // .rightside-menu__close-img

  &__close-img {
  }

  // .rightside-menu__content

  &__content {
    width: 100%;
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }

  // .rightside-menu__logo

  &__logo {
    margin: 0 auto;
    @include adp-size("margin-bottom", 20, 1140, 60);
    @include adp-size("width", 130, 1140, 194);
  }

  // .rightside-menu__title

  &__title {
    @include adp-size("margin-bottom", 30, 1140, 50);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      // bottom: -20px;
      @include adp-size("top", 60, 1140, 80);
      // max-width: 252px;
      @include adp-size("max-width", 150, 1140, 252);
      height: 1px;
      background-color: $title-line-color;
      margin: 0 auto;
    }
  }

  // .rightside-menu__text

  &__text {
    @include adp-size("margin-bottom", 20, 1140, 75);
  }

  // .rightside-menu__img

  &__img {

  }
}
// active link
.menu__list-link.active {
  position: relative;
  padding-bottom: 4px;
  &::after {
    content: '';
    position: absolute;
    background-color: $title-text-color;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    // width: 100%;
  }
}

