// ================= INTRO SECTION ================= //
.intro {

		// .intro__inner

		&__inner {
         padding-top: 20px;
         @include adp-size("padding-bottom", 20, 1140, 70);
         @media screen and (min-width: 768px) {
         padding-top: 0;
      }
      position: relative;
      &::after {
        content: '';
        position: absolute;
        background-image: url('../images/main_slider.png');
        width: 100%;
        height: 722px;
        top: 0;
        z-index: -1;
      }
		}

		// .intro__slider

		&__slider {
		}

		// .intro__slider-item

		&__slider-item {
      display: flex !important;
      justify-content: center;
      align-items: center;
		}

		// .intro__slider-img

		&__slider-img {
      display: none !important;
      @media screen and (min-width: 768px){
        display: inline-block !important;
        @include adp-size("max-width", 300, 1140, 700);
        margin-left: -10%;
        object-fit: cover;
      }
		}

		// .intro__slider-info

		&__slider-info {
      max-width: 635px;
      margin-left: 25px;
		}

		// .intro__slider-title

		&__slider-title {
         @include adp-size("font-size", 30, 1140, 110);
         @include adp-size("line-height", 51, 1140, 135);
         padding-bottom: 26px;
         margin-bottom: 26px;
         position: relative;
         text-align: left;
         @media screen and (max-width: 768px) {
            text-align: center;
            &::after {
               left: 0;
               right: 0;
            }
         }
         @extend %left-line;
		}

		// .intro__slider-text

		&__slider-text {
         max-width: 580px;
		}
}

