// ================= VAR OF COLORS ================= //
$nav-text-color: rgba(54, 56, 56, 0.9033);
$title-text-color: hsla(180, 2%, 22%, 1);
$title-line-color: hsla(213, 5%, 45%, 1);
$title-intro_line-color: hsla(0, 0%, 59%, 1);
$content-text-color: hsla(0, 0%, 35%, 1);
$main-background-color: #F2F2F2;
$filter-btn-border: hsla(212, 2%, 27%, 1);
$filter-btn-text-color: hsla(0, 1%, 56%, 1);
$filter-btn-back-active: hsla(55, 100%, 60%, 1);
$background-footer-color: hsla(0, 0%, 88%, 1);
$footer-links-color: hsla(0, 0%, 44%, 1);
$footer-form-placeholder: hsla(0, 0%, 63%, 1);
$footer-form-border-color: hsla(0, 2%, 22%, 1);
$footer-form-text-color: hsla(60, 100%, 97%, 1);

// ================= MIXINS FOR ADAPTIVE SIZE ================= //
$maxwidth: 1920;
$maxWidthContainer: 1140;

@mixin adaptiv-value($property, $startsize, $minsize, $type) {
  $addsize: $startsize - $minsize;
  @if $type==1 {
    // If less container
    #{$property} : $startsize + px;
    @media (max-width: #{$maxWidthcontainer + px}) {
    #{$property}: calc(#{$minsize + px} + #{$addsize} * ((100vw - 320px) / #{$maxWidthContainer - 320})) ;
    }
  } @else if $type==2 {
    // If more then container
    #{$property}: $startsize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addsize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    // Always
    #{$property}: calc(#{$minsize + px} + #{$addsize} * ((100vw - 320px) / #{$maxWidth - 320})) ;
  }
}

@mixin adp-size ($property, $minSize, $width, $maxSize) {
  #{$property}: clamp(#{$minSize + px}, calc(#{$maxSize} / #{$width} * 100vw), #{$maxSize + px}); 
}

// ================= HOVER OVERLAY ================= //
$transition_main: .3s;
$hidden: hidden;
$scale: scale(1.1);

// ================= RESPONSIVE IMG SIZE ================= //
%logo_size {
  max-width: 100%;
}

// ================= RESPONSIVE TEXT SIZE ================= //
%body-text_size {
  font-size: clamp(16px, calc(16 / 1140 * 100vw), 18px);
  line-height: 27px;  
}

%responsive-text_size-intro_title {
  font-size: clamp(36px, calc(110 / 1140 * 100vw), 120px);
  line-height: 51px;
}

%responsive-text_size-main_title {
  font-size: clamp(26px, calc(36 / 1140 * 100vw), 40px);
  line-height: 51px;
}

%responsive-text_size-blog_title {
  font-size: clamp(20px, calc(24 / 1140 * 100vw), 28px);
  line-height: 38px;
}

%responsive-text_size-form_title {
  font-size: clamp(16px, calc(16 / 1140 * 100vw), 20px);
  line-height: 23px;
}

%responsive-text_size-sub_title {
  font-size: clamp(12px, 2.5vw, 18px);
}

// The line under title
%center-line {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    @include adp-size("width", 140, 1140, 250);
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: $title-line-color;
  }
}
%left-line {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    @include adp-size("width", 140, 1140, 200);
    height: 1px;
    left: 0;
    // right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: $title-line-color;
  }
}

// ================= FOTNS ================= //

$title-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;

// title fonts 'for using: @extend %title-font';
%title-font-mons-700 {
  font-family: $title-font;
  font-weight: 700;
  color: $title-text-color;
}

%footer-font-open-600 {
  font-family: $body-font;
  font-weight: 600;
}

// ================= BUTTONS ================= //

// button for filter section
%filter-btn {
  font-family: $body-font;
  font-weight: 600;
  border: 1px solid $filter-btn-border;
  background-color: transparent;
  border-radius: 20px;
  color: $filter-btn-text-color;
  padding: 6px 15px;
  cursor: pointer;
}
// styles for button when it will be active
%filter-btn-active {
  border: 1px solid transparent;
  background-color: $filter-btn-back-active;
  @include adp-size('font-size', 12, 1140, 16);
  line-height: 28px;
  color: $title-text-color;
}

// form button style
%form-btn {
  font-family: 'Open Sans';
  font-weight: 600;
  @include adp-size('font-size', 16, 1140, 18);
  line-height: 28px;
  text-align: center;
  color: $footer-form-text-color;
  border: 1px solid $title-text-color;
  background-color: $title-text-color;
  border-radius: 21px;
  padding: 6px 12px;
  width: 100%;
  cursor: pointer;
  @media screen and (min-width: 768px){
    width: 160px;
  }
  @media (min-width: 481px) and (max-width: 768px){
    width: 70%;
  }
}

// ================= INPUTS ================= //

// form input
%form-input {
  border: 1px solid $footer-form-border-color;
  background-color: transparent;
  border-radius: 21px;
  padding: 6px 18px;
  color: $footer-form-placeholder;
  width: 100%;
  @media screen and (min-width: 768px){
    width: 80%;
    margin-right: 10px;
  }
  @media (min-width: 481px) and (max-width: 768px){
    width: 70%;
  }
}

// ================= FANY BOX ================= //
@function max($numbers ...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers ...) {
  @return m#{i}n(#{$numbers});
}